@import "tailwindcss";

.bellefair {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
.cinzel {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}